.site-content {
    padding: 0 1em;

    @include breakpoint($size__tablet) {
        padding: 0;
    }
}

.site-main {
    max-width: 960px;
    margin: 0 auto 6rem;
}

.site-footer {
    font-size: 1rem;
    background-color: $color__link;
    color: white;
    padding: 2rem 0;
    text-align: center;

    a {
        color: white;

        &:hover {
            text-decoration: underline;
        }
    }
}