.item-article {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    border: 1px solid $color__background-offwhite;

    &:nth-child(even) {
        flex-flow: row;
    }

    .entry-container {
        max-width: 66%;
        padding: 1rem;
    }
}

.entry-container {

    .entry-header {
        margin-bottom: 0;
        text-align: left;

        .entry-title {
            margin-bottom: 0;
        }
    }
}

.sticky {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    border: 1px solid $color__background-offwhite;
}