h1, h2, h3, h4, h5, h6 {
	font-family: $font__main;
	font-weight: 400;
	margin-bottom: 1rem;
	clear: both;
}

h1 {
	font-size: 2em;
	line-height: 1.1em;

	@include breakpoint($size__tablet) {
		font-size: 3em;
	}
}

h2 {
	font-size: 1.75em;
	line-height: 1.1em;

	@include breakpoint($size__tablet) {
		font-size: 2.25em;
	}
}

h3 {
	font-size: 1.3em;
	line-height: 1.1em;

	@include breakpoint($size__tablet) {
		font-size: 1.75em;
	}
}

h4 {
	font-size: 1.125em;
	line-height: 1.1em;
}