.comment-navigation,
.posts-navigation,
.post-navigation,
.paging-navigation {
	font-family: $font__main;
	margin-bottom: 3rem;
	padding: 0;
	text-align: left;
	overflow: hidden;
	
	a {
		display: block;
		width: 100%;
		text-decoration: none;
		padding: 1em;
		color: black;
		
		&:hover,
		&:focus {

		}
	}

	.nav-previous {
		float: left;
		width: 45%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 45%;
	}	
}

.single {
	.nav-previous {

		a {
			display: flex;
			align-items: center;

			.nav-arrow {
				font-size: 2rem;
				line-height: 1;
				width: 45px;

				@include breakpoint($size__tablet) {
					font-size: 4rem;
				}
			}
		}
	}

	.nav-next {

		a {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			.nav-arrow {
				font-size: 2rem;
				line-height: 1;
				width: 30px;

				@include breakpoint($size__tablet) {
					font-size: 4rem;
				}
			}
		}
	}
}


.nav-links {
	margin: 0 auto;
	padding: 0 .4em;
}



.post-navigation {
	
	.meta-nav {
		font-size: 0.9em;
		display: block;
	}
	
	.post-title {
		display: none;
		font-size: 1em;
		
		@include breakpoint($size__tablet) {
			display: inline;
		}
	}
	
	a:hover .post-title,
	a:focus .post-title{
		border-bottom: 2px solid $color__border-nav;
	}
	
}