.main-navigation {
	flex: 1;
}

#primary-menu {
	font-size: 1rem;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	list-style: none;
	margin: 0;
	padding-left: 0;
	height: 0;
	transition: all 1s ease-in-out;

	@include breakpoint($size__tablet) {
		flex-flow: row;
		height: 100%;
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		height: 0;

		ul {
			list-style: none;
			margin: 0;
			padding-left: 0;
			height: 0;
		}
	}

	li {
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}
}