.main-navigation {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(41, 124, 187);
    background-color: rgba(41, 124, 187, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
	// flex: 1;

	@include breakpoint($size__tablet) {
		position: unset;
		height: auto;
		background-color: transparent;
		overflow-y: unset;
		flex: 1;
		transition: none;
	}

	.closebtn {
		font-size: 60px;
		line-height: 1;
		position: absolute;
		top: 0;
		right: 1rem;
		color: $color__background-body;

		@include breakpoint($size__tablet) {
			display: none;
		}
	}
}

.openbtn {
	font-size: 30px;
	display: block;
	position: absolute;
	top: 5px;
	right: 1rem;
	line-height: 1;

	a {
		color: $color__link;
	}

	@include breakpoint($size__tablet) {
		display: none;
	}
}

.open-nav {
	pointer-events: all;
	height: 100%;
}

#primary-menu {
	position: relative;
	top: 10%;
	width: 100%;
	font-size: 1.5rem;
	list-style: none;
	margin: 1rem 0 0 0;
	padding-left: 0;
	height: 0;
	transition: all 1s ease-in-out;
	text-align: center;

	@include breakpoint($size__tablet) {
		font-size: 1rem;
		position: unset;
		top: unset;
		display: flex;
		flex-flow: row;
		height: auto;
		justify-content: flex-end;
		align-items: center;
		margin: 0;
		transition: none;
	}

	a {
		color: $color__background-body;

		@include breakpoint($size__tablet) {
			color: $color__link;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			list-style: none;
			margin: 0;
			padding-left: 0;
		}
	}

	li {
		margin-right: 10px;
		margin-bottom: 1rem;

		@include breakpoint($size__tablet) {
			margin-bottom: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		a {
			padding-top: 1rem;
			padding-bottom: 1rem;
		}
	}

	.menu-item-has-children {
		position: relative;

		.sub-menu {
			display: none;

			li {
				margin-right: 0;
			}

			a {
				display: block;
				padding: 0.5rem 1rem;

				&:hover,
				&:focus {
					background-color: darken($color__background-offwhite, 5%);
				}
			}
		}

		&:hover > .sub-menu {
			position: absolute;
			   right: 0;
				 top: 36px;
			display: block;
			background-color: $color__background-offwhite;
			width: auto;
			height: auto;
			text-align: left;
			white-space: nowrap;
		}
	}
}