.site-header {
    font-family: $font__main;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 1rem 4rem;
    padding: 0.5rem 0.25rem;
    border-bottom: 3px solid $color__border-nav;

    @include breakpoint($size__tablet) {
        align-items: center;
        margin: 0 1rem 6rem;
    }

    .site-title {
        font-size: 1em;
        margin: 0;
    }
}

/*--------------------------------------------------------------
## Menus and links
--------------------------------------------------------------*/
@import "links";
@import "menus";
@import "content-navigation";