.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-content,
.entry-content,
.comments-area {
	max-width: 700px;
	margin: auto;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-header {
	margin-bottom: 2.75rem;
	text-align: center;

	.cat-links {
		font-family: $font__main;
		font-size: 1rem;
		display: block;
		margin-bottom: 0.5rem;
		text-transform: uppercase;
	}

	.entry-title {
		margin-bottom: 1.25rem;
	}

	.entry-meta {
		font-size: 1rem;
		margin: 1rem 0;

		.updated-on {
			display: block;
		}
	}
}

.post,
.post-thumbnail {
	margin-bottom: 3rem;
}

.entry-footer {
	text-align: center;

	.tags-links {
		margin-right: 1rem;
	}
}

// Author Bio Section
.author-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $color__background-offwhite;
	margin-bottom: 3rem;
	padding: 2rem;

	.author-avatar {
		flex: 1 0 125px;

		img {
			border-radius: 50px;
		}
	}

	.author-description {

		p {
			margin-bottom: 0;
		}
	}
}