.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-content,
.entry-content,
.comments-area {
	max-width: 700px;
	margin: auto;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-header {
	margin-bottom: 3rem;
	text-align: center;

	.entry-meta {
		font-size: 1rem;
		font-style: italic;
		margin: 1rem 0;
	}
}

.entry-footer {
	text-align: center;
}